* {
    margin: 0;
    padding: 0;
    font: 500 20px "Roboto";
}

$border-color: #319CFF;
$background-color: rgb(202, 234, 254);
$shadow-color: #4f4f4f;
$red: rgba(255, 0, 0, 1);
$text-color: rgba(0, 0, 0, 1);

.back {
    margin: 50px auto;
    width: 351px;
    height: 610px;
    background: $background-color;
    color: $text-color;
    border-radius: 40px;
    box-shadow: 4px 4px 4px $shadow-color;
    border: 10px solid $border-color;

    .heder {
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        width: 310px;
        margin-top: 30px;

        .scientific {
            background-image: url(./assets/SCIENTIFIC.svg);
            width: 116px;
            height: 16px;
        }

        .tema {
            background-image: url(./assets/Subtract.svg);
            width: 17px;
            height: 19px;
        }
    }

    .display {
        height: 120px;
        padding: 10px;
        display: grid;
        justify-items: end;
        align-items: end;
        margin-bottom: 20px;
        
        p {
            width: 334px;
            text-align: right;
            font-size: 30px;
            overflow: hidden;
        }
    }

    .buttons {
        display: grid;
        grid-template-areas:
            "date c change reverse"
            "square factorial stepen division"
            "seven eigth nine multi"
            "four five six minus"
            "one two three plus"
            "percent zero dot equal";
        grid-gap: 7px;
        justify-items: center;
    }

    .btn {
        width: 60px;
        height: 60px;
        background: $background-color;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        font-size: 1.5rem;
        cursor: pointer;
        user-select: none;

        .zero {
            grid-area: zero;
            width: 100%;
        }
    }

    .btn:hover {
        filter: brightness(98%)
    }
}